@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html {
    height: fit-content;
  }
  body {
    font-family: "Inter";
  }
}

.item-list:hover > div {
  background-color: #0c1d29;
}

/* this styling was copied from w3c and i've modified it */

[role="switch"] {
  cursor: pointer;
}
[role="switch"] .switch {
  position: relative;
  border-radius: 100px;
  height: 16px;
  width: 28px;
  background-color: #c2c2c2;
  transition: background-color 0.1s ease-in;
}

[role="switch"] .switch span {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  border-radius: 1000px;
  background: white;
  transition: left 0.1s ease-in;
}

[role="switch"][aria-checked="true"] .switch {
  background-color: #7f56d9;
}

[role="switch"][aria-checked="true"] .switch span {
  left: 14px;
}
/*end*/
