.modalWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 10%),
    0px 8px 8px -4px rgba(16, 24, 40, 4%);
}

.modalWrapper > h1 {
  margin-top: 8px;
  /* use the inter font family */
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #101828;
}
.modalWrapper > p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #475467;
}
.modalWrapper > button {
  margin-top: 24px;
  background-color: #d92d20;
  color: white;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 14px;
}
